@charset "UTF-8";

/********************  PageSetting  ********************/
body{
	font-family:ヒラギノ;
}


.stdFlame{
	padding: 0px 30px;
	font-size:10pt;

}

.stdFlame-margin{
  	border:1px solid #cfcfcf;
  	border-radius:2px;
	margin:5px 50px;
	background-color:#e1e6e8;
	
}

/********************  TextBox  ********************/

.txtBox{
	padding-left:7px;
	height:26px;
}


/********************  Button  ********************/

.button{
	padding: 2px;
	
}
/********************  DropDownList  ********************/

.cp_ipselect {
	overflow: hidden;
	text-align: center;
}
.cp_ipselect select {
	width: 100%;
	
	cursor: pointer;
	text-indent: 0.01px;

	border: none;
	outline: none;
	background: transparent;
	background-image: none;
	box-shadow: none;
	-webkit-appearance: none;
	appearance: none;
}
.cp_ipselect select::-ms-expand {
    display: none;
}

/*外枠の線デザイン */
.cp_ipselect.cp_sl02 {
	position: relative;
	border: 1px solid #ced4da;
	border-radius: .25rem;
	background: #ffffff;
}

/*下三角形のデザインおよび位置 */

.cp_ipselect.cp_sl02::before {
	position: absolute;
	top: 0.75em;
	right: 0.75em;
	width: 0;
	height: 0;
	padding: 0;
	content: '';
	border-left: 6px solid transparent;
	border-right: 6px solid transparent;
	border-top: 6px solid #333333;
	pointer-events: none;
}
.cp_ipselect.cp_sl02:after {
	position: absolute;
	top: 0;
	right: 2.5em;
	bottom: 0;
	width: 1px;
	content: '';
	border-left: 1px solid #ced4da;
}

/* 選択肢のデザイン */
.cp_ipselect.cp_sl02 select {
	padding: 3px;;
	color: #666666;
}

/********************  Table ********************/

.table-center{
	margin:0px auto;
}

/********************  DataViewテーブルのの定義 ********************/

.data-view-table {
	width: 100%;
	table-layout: fixed;
	font-size: 10pt;
}

.data-view-table th {
	padding: 3px 0px;
}

.data-view-table td{
	padding:5px;
}

/* 改行禁止かつ、余剰分省略 */
.data-view-table td {
	 max-width: 50px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

/* Header固定 */
.data-view-table thead th {
	position: sticky;
	top: 0;
	z-index: 999;
}

.data-view-table tbody td {
	position: sticky;
	left: 0;
}

.td-white{
	background-color:white;
}

.td-grey{
	background-color:#bababa;
}



/********************   floatの右寄せ左寄せ  ********************/
.float-left{
	float:left;
}

.float-right{
	float:right;
	position:relatve;
	left:50%;
	top:22%;
}


/********************  header common  ********************/

/*Headerのベース設定　ボタン部のカラーはここ*/
.header {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color:   #0095f9;
	height:40px;
}

/*タイトル部のカラーと横幅*/
.headerTitle {
	color: white;
	background-color:  #00a0e9;
	
	width:600px;
	height:40px;
	
	display: block;
	text-align: rightr;  /*微調整要 */
	text-decoration: none;
}
/* ボタン部の微調整用(データ連係画面)  */
.headerBtnA {
/* 	display: block;
	margin-right:10px;
	margin-top:5px; */
	font-size:9pt; 
	border:  color:#cfcfcf;
 	border-radius: 5px;
	background-color:#e9e9e9;
	margin-top:7px;
}

/* ボタン部の微調整用(ログアウト)  */
.headerBtnB {
/* 	display: block;
	margin-right:10px;
	margin-top:5px; */
	font-size:9pt; 
	border:  color:#cfcfcf;
 	border-radius: 5px;
	background-color:#e9e9e9;
	margin-left:10px;
	margin-right:7px;
		margin-top:7px;
}

/*ユーザ情報部のカラーと横幅*/
.headerUserInfo{
	color: white;
	background-color:#008bff;
	
	width:300px;
	height:40px;
	font-size:9pt;
	
	display: block;
	text-align: right;
	margin:0px;
	text-decoration: none;
}

.float-head{
	float:left;
	position : relative ;
	top:22%;
	left:15px;
}

/* ヘッダーの使用ユーザー名と所属先の表示位置 */
.float-head-right{
	float:top;
	position : relative ;
	top:2px;
	right:5px;
}

/* 業務システム名と画面名の表示位置 */
.float-head-left{
	float:left;
	position : relative ;
	top:22%;
	left:15px;
}


