@charset "UTF-8";

/* body{
	font-family: serif;
	font-size:15px;
	background-color:ghostwhite;
} */

/******画面調整******/

.InputPadding {
	padding: 5px 5px 0px 25px;
}


.bot-pad-5{
	padding-bottom:5px;
}

.top-pad-5 {
	padding-top:5px;
}

.top-pad-5{
	padding-top:5px;
}

.left-pad-5{
	padding-left:5px;
}

.mapid{
	height:400px;
	width:600px;
}


/******パーツ毎の設定******/


input[type=text] {
	font-size: 13px;
}

input[type=file] {
	font-size: 14px;
}

