<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Wi-cafeの使い方</title>
<link type="text/css" href="css/common.css" rel="stylesheet" />
<link type="text/css" href="css/about.css" rel="stylesheet" />
<style type="text/css">
<!--
#mapid {
	height: 100vh;
	width: 100%;
	margin: 0 0 0 auto;
}
-->
</style>
</head>
<body>


	<div id="mainWrapper">


		<a href="wi-cafe_map" class="goHome" title="マップへ戻る"></a>
		<h2 style="font-size: 22px">Wi-cafe</h2>
		<section>
			<article>
				<div class="overview">
					～ちょっとした空き時間や休みの日などにWi-Fiが使えるカフェなどで過ごしたい方向けのカフェ検索用地図アプリ～</div>
			</article>
			<h3>使い方</h3>
			<article>
				<ul>
					<li>Wi-Fiが利用できるカフェまたはレストランをマップ上のマーカーで示した地図アプリです。</li>
					<li>現在地情報を利用いたしますので位置情報サービスを使用していただくとより便利にご利用いただけます。<br />（尚位置情報サービスを使用しない際のマップ表示初期位置は東京スカイツリーにしております。）
					</li>
					<li>マーカーを選択していただくとお店の詳細情報が表示されます。</li>
					<li>詳細情報には店名のGoogle検索及びGoogleMapへのリンクも貼っておりますので、より詳しい情報はそちらをご残照ください。</li>
					<li>店舗の情報は随時更新中です。</li>
					<li>運営しながら開発しておりますので、不定期で機能の追加がございます。</li>
				</ul>
			</article>
			<h3>その他</h3>
			<article>
				<ul>
					<li>店舗の情報は随時更新中です。</li>
					<li>運営しながら開発しておりますので、不定期で機能の追加がございます。</li>
				</ul>
			</article>
		</section>
	</div>

	<footer>
		<a href="wi-cafe_map">TOP</a><a href="person">運営者情報</a><a href="privacypolicy">プライバシーポリシー</a><a
			href="help">ヘルプ</a>
	</footer>





</body>
</html>