<!DOCTYPE html>
<html>
<head>
    <title>Leaflet_Tutrial_101.html 2019/4/26   by T. Fujita</title>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="/css/data-link.css"/>
    <link rel = "stylesheet" href = "https://unpkg.com/leaflet@1.4.0/dist/leaflet.css" />
    <script src = "https://unpkg.com/leaflet@1.4.0/dist/leaflet.js"></script>
    <script src = "/js/dataLink.js"></script>

</head>
<body onload="init()">
    <div id="map_101" class="mapid" style="border: solid 1px"></div>
</body>
</html>