<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>運営者情報</title>
<link href="css/common.css" rel="stylesheet"/>
<link href="css/about.css" rel="stylesheet" />
</head>
<body>


	<div id="mainWrapper">


		<a href="wi-cafe_map" class="goHome" title="HOME"></a>
		<h2>
			運営者情報
		</h2>

		<section>
			<h3>運営</h3>
			<article>yoneyonekunによる個人開発及び運営</article>
		</section>
		<section>
			<h3>yoneyonekunとは</h3>
			<article>
			<p>温泉好きのエンジニア。</p>
			<p>(詳しくはこちら→<a href="https://yoneyonekun.com">yoneyonekun.com)</a></p>
			</article>
		</section>
		<section>
			<h3>経緯</h3>
			<article>
				休日にPCを持ち歩くことが多いのですが、現在地から一番近いWi-Fiが使えるカフェを探す手段があまりないことに嘆いたため。（スマホアプリは使わない派）
			</article>
		</section>
		<section>
			<h3>ポリシー</h3>
			<article>痒い所に手が届くようなサービスづくりを心がけています。運営しながらサイト改善をするスタイルをとっております。</article>
		</section>
		<section>
			<h3>お問い合わせ</h3>
			<article>
				<p>不具合やカフェにWi-Fiがなかったなどの報告等、以下のアドレスへお願いいたします。使いにくいなど苦情も承っております。その際は優しく具体的に教えていただければ幸いでございます。</p><br/>
				<span>Email：yoneyonekun1@gmail.com</span>
			</article>
		</section>

	</div>

	<footer>
		<a href="wi-cafe_map">TOP</a><a href="home">Wi-cafeの使い方</a><a href="privacypolicy">プライバシーポリシー</a><a
			href="help">ヘルプ</a>
	</footer>





</body>
</html>