<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>運営者情報</title>
<link rel="stylesheet" type="text/css" href="/css/common.css">
<link rel="stylesheet" type="text/css" href="/css/about.css">
</head>
<body>


	<div id="mainWrapper">


		<a href="/" class="goHome" title="HOME"></a>
		<h2>
			運営者情報
		</h2>

		<section>
			<h3>運営</h3>
			<article>yoneyonekunによる個人開発及び運営</article>
		</section>
		<section>
			<h3>yoneyonekunとは</h3>
			<article>
			<p>温泉好きのエンジニア。</p>
			<p>(詳しくはこちら→<a href="https://yoneyonekun.com">yoneyonekun.com)</a></p>
			</article>
		</section>
		<section>
			<h3>経緯</h3>
			<article>
				休日にPCを持ち歩くことが多いのですが、現在地から一番近いWi-Fiが使えるカフェを探す手段があまりないことに嘆いたため。（スマホアプリは使わない派）
			</article>
		</section>
		<section>
			<h3>ポリシー</h3>
			<article>痒い所に手が届くようなサービスづくりを心がけています。運営しながらサイト改善をするスタイルをとっております。</article>
		</section>
		<section>
			<h3>お問い合わせ</h3>
			<article>
				<p>不具合やカフェにWi-Fiがなかったなどの報告等、以下のアドレスへお願いいたします。使いにくいなど苦情も承っております。その際は優しく具体的に教えていただければ幸いでございます。</p>
				<p>yoneyonekun1@gmail.com</p>
			</article>
		</section>

	</div>

	<footer>
		<a href="/">TOP</a><a href="/about">運営等</a><a href="/terms">利用規約・個人情報</a><a
			href="/help">ヘルプ</a>
	</footer>





</body>
</html>