<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>利用規約及びプライバシーポリシー</title>
<link href="css/common.css" rel="stylesheet"/>
<link href="css/about.css" rel="stylesheet" />
</head>
<body>


	<div id="mainWrapper">


		<a href="wi-cafe_map" class="goHome" title="HOME"></a>
		<div id="headIcon">
			利用規約とプライバシーポリシー
		</div>

		<section>
			<h3>利用規約</h3>
			<article>
				Wi-cafeを利用するにあたり、遵守していただきたい内容、禁止事項等を利用規約として、以下に定めます。</article>

			<article>
				<h4>第1条（適用）</h4>
				wi-cafeは、Webサイトにて提供するサービスの総称となります。（以下、本サービス）<br>
				利用者の皆様には、本利用規約に従った上で、本サービスを利用できるものとします。<br>
			</article>

			<article>
				<h4>第2条（情報と投稿）</h4>
				本サービスは、Wi-Fiの利用が可能である飲食店の情報掲載を目的としています。<br>
				情報は、運営者が調査したものを使用しており、利用者からの報告をもってより正確な情報の提供に努めておりますが、情報の真偽について保証するものではありません。<br>
				投稿された情報に関しての、表現方法・利用方法・範囲に関しては、運営が責任と権利を保有するものとします。
			</article>

			<article>
				<h4>第3条（禁止事項）</h4>
				以下の行為を禁止します。<br>
				<ol>
					<li>法令または公序良俗に違反する行為</li>
					<li>犯罪行為に関連する行為</li>
					<li>他者に対する誹謗中傷行為</li>
					<li>不正アクセス、またはこれを試みる行為</li>
					<li>運営を妨害する行為</li>
					<li>第三者の知的財産権，肖像権，プライバシー，名誉その他の権利または利益を侵害する行為</li>
					<li>不適切と判断される表現（暴力・差別等）の投稿行為</li>
					<li>特定の団体等についての宣伝行為</li>
					<li>その他，運営が不適切と判断する行為</li>
				</ol>
			</article>

			<article>
				<h4>第4条（免責事項）</h4>
				本サービスの利用によって発生した利用者の損害について、運営は一切の賠償責任を負えません。<br>
				プログラム的欠陥等によって発生した問題や、利用者の投稿による著作権侵害などの対応について、運営は迅速な対応を努力しますが、賠償責任は負えません。
			</article>

			<article>
				<h4>第5条（サービスの停止・終了）</h4>
				本サービスは、運営の事情にて予告なく停止・終了する場合があります。
			</article>

			<article>
				<h4>第6条（利用規約の変更）</h4>
				運営は，必要と判断した場合に，予告なく本規約を変更することができるものとします。
			</article>

			<article>
				<h4>第7条（個人情報）</h4>
				個人情報に関しては「プライバシーポリシー」に従い適切に取り扱うものとします。
			</article>

			<article>
				<h4>第8条（準拠法・裁判管轄）</h4>
				本規約の解釈にあたっては，日本法を準拠法とします。<br>
				本サービスに関して紛争が生じた場合には，東京簡易裁判所ないし東京地方裁判所を第一審の専属管轄裁判所とします。
			</article>

			<p>2020年12月20日</p>
		</section>

		<section>
			<h3>プライバシーポリシー</h3>
			<article>本サービスに関する、個人情報の取り扱いについて以下に記載します。</article>

			<article>
				<h4>(1) 個人情報</h4>

				個人情報とは、生存する個人に関する情報であって，当該情報に含まれる氏名，生年月日，住所，電話番号，連絡先その他の記述等により特定の個人を識別できる情報及び容貌，指紋，声紋にかかるデータ，及び健康保険証の保険者番号などの当該情報単体から特定の個人を識別できる情報（個人識別情報）を指します。

			</article>

			<article>
				<h4>(2) 基本方針</h4>
				<ul>
					<li>個人の特定につながるような情報は、極力取得しない。</li>
					<li>個人情報と思われる投稿に関しては掲載しない。</li>
					<li>個人情報に対する問い合わせには迅速に対応する。</li>
				</ul>
			</article>

			<article>
				<h4>(3) 取得可能で保存される情報と利用</h4>
				<ul>
					<li>問い合わせにて、利用者が使用する情報（メールアドレス、問い合わせ内容）。</li>
					<li>アクセスログとして取得できる情報（IPアドレス、リファラー、ブラウザ情報等）。</li>
					<li>ログ情報は、アクセス統計解析や、不具合発生時の原因調査等に利用されます。</li>
				</ul>
			</article>

			<article>
				<h4>(4) 個人情報の開示</h4>
				本人の同意がある場合、または、法令に基づき当局より開示を求められた場合に限り、個人情報を第三者に開示します。
			</article>

			<!-- <article>
				<h4>(5) 広告の表示</h4>
				<ul>
					<li>Googleなどの第三者配信事業者がCookieを使用して、ユーザーがそのウェブサイトや他のウェブサイトに過去にアクセスした際の情報に基づいて広告を配信する場合があります。</li>
					<li>Googleは、広告Cookieを使用することにより、ユーザーがそのサイトや他のサイトにアクセスした際の情報に基づいて、Googleやそのパートナーが適切な広告をユーザーに表示できます。</li>
					<li>ユーザーは、<a href="https://www.google.com/settings/ads"
						target="_blank">Googleの広告設定</a>にてパーソナライズ広告を無効にすることも可能です。
					</li>
				</ul>
			</article> -->

			<article>
				<h4>(5) プライバシーポリシーの変更</h4>
				プライバシーポリシーは、予告なく変更することがあります。重大な変更はサイトトップにて掲示を行います。
			</article>

			<article>
				<h4>(6) 個人情報に関する連絡先</h4>
				Email：yoneyonekun1@gmail.com
			</article>

			<p>2020年12月20日</p>
		</section>

	</div>

	<footer>
		<a href="wi-cafe_map">TOP</a><a href="home">Wi-cafeの使い方</a><a href="person">運営者情報</a><a
			href="help">ヘルプ</a>
	</footer>



</body>
</html>